.container {
    height: 100%;
    width: 100%;
    background-repeat: cover;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'monaSpace';
    font-weight: 400;
}

.header {
    margin: 40px 0 30px;
    color: white;
    font-size: 40px;
}

.inputForm {
    display: flex;
    flex-direction: column;
}

.addPlayerText {
    text-align: center;
    margin: 25px auto 10px auto;
    font-size: 30px;
    line-height: 32px;
    color: #F4A900;
    font-weight: 700;
}

.input {
    width: 270px;
    height: 30px;
    border-radius: 10px;
    background-color: #252525;
    font-size: 24px;
    text-align: center;
    border-radius: 18px;
    border: 0;
}

.inputFormButton {
    color: #FDE910;
    background-color: #151515;
    border-radius: 10px;
    width: calc(100% - 40px);
    margin: 20px auto 0 auto;
    height: 30px;
    font-size: 21px;
    line-height: 23px;
    font-weight: 700;
    border: 0;
}

.inputFormButton:hover {
    background-color: #252525;
}

.formContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100vw;
}

.containerOfButtons {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 282px);
    justify-content: center;
    column-gap: 20px;
}

.buttonInactive {
    color: yellow;
    background-color: #252525;
    border-radius: 5px;
    border-color: #f90;
    margin-top: 20px;
    height: 30px;
    font-size: 26px;
    font-weight: 700;
    cursor: pointer;
}

.buttonInactive:first-of-type {
    margin-top: 0;
}

.tasksText {
    text-align: center;
    margin: 25px auto 10px auto;
    font-size: 21px;
    line-height: 25px;
    color: #F4A900;
    font-weight: 700;
}

.buttonInactive:hover {
    color: #161616;
    background-color: #f90;
}


.buttonActive {
    cursor: pointer;
    color: #161616;
    background-color: #f90;
    border-radius: 5px;
    margin-top: 20px;
    height: 30px;
    font-size: 26px;
    font-weight: 700;
}

.buttonActive:first-of-type {
    margin-top: 0;
}

.buttonActive:hover {
    background-color: #161616;
    color: #f90
}

.buttons {
    display: flex;
    align-items: center;
}

.submitButton {
    color: #FDE910;
    background-color: #151515;
    border-radius: 10px;
    border: 0;
    width: 320px;
    margin: 50px auto auto auto;
    height: 30px;
    font-size: 21px;
    line-height: 23px;
    font-weight: 700;
}

.submitButton:hover {
    background-color: #252525;
}