.container {
    height: 100%;
    width: 100vw;
    background-repeat: cover;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'monaSpace';
    font-weight: 400;
}

.inputForm {
    display: flex;
    flex-direction: column;
}

.addPlayerText {
    text-align: center;
    margin: 25px auto 10px auto;
    font-size: 30px;
    line-height: 32px;
    color: #F4A900;
    font-weight: 700;
}

.input {
    width: 270px;
    height: 30px;
    border-radius: 10px;
    background-color: #87CEFA;
    font-size: 24px;
    text-align: center;
}

.inputFormButton {
    color: #FDE910;
    background-color: #77DDE7;
    border-radius: 10px;
    width: calc(100% - 40px);
    margin: 20px auto 0 auto;
    height: 30px;
    font-size: 21px;
    line-height: 23px;
    font-weight: 700;
}

.inputFormButton:hover {
    background-color: #3F888F;
}

.formContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100vw;
}

.containerOfButtons {
    display: flex;
    justify-content: space-around;
}

.buttonInactive {
    color: yellow;
    background-color: rgba(168, 98, 134, 1);
    border-radius: 5px;
    border-color: greenyellow;
    margin-top: 20px;
    height: 30px;
    font-size: 26px;
    font-weight: 700;
}

.buttonInactive:first-of-type {
    margin-top: 0;
}

.tasksText {
    text-align: center;
    margin: 25px auto 10px auto;
    font-size: 21px;
    line-height: 25px;
    color: #F4A900;
    font-weight: 700;
}

.buttonInactive:hover {
    background-color: rgba(168, 63, 118, 1);
}

.buttonActive {
    color: yellow;
    background-color: rgba(168, 63, 118, 1);
    border-radius: 5px;
    border-color: greenyellow;
    margin-top: 20px;
    height: 30px;
    font-size: 26px;
    font-weight: 700;
}

.buttonActive:first-of-type {
    margin-top: 0;
}

.buttonActive:hover {
    background-color: rgb(138, 45, 93);
}

.buttons {
    display: flex;
    flex-direction: column;
}

.submitButton {
    color: #FDE910;
    background-color: #77DDE7;
    border-radius: 10px;
    width: 320px;
    margin: 50px auto auto auto;
    height: 30px;
    font-size: 21px;
    line-height: 23px;
    font-weight: 700;
}

.submitButton:hover {
    background-color: #3F888F;
}