.container {
    background-image: url(https://t3.ftcdn.net/jpg/03/23/88/08/360_F_323880864_TPsH5ropjEBo1ViILJmcFHJqsBzorxUB.jpg);
    height: 100%;
    width: 100%;
    background-repeat: cover;
    background-size:contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 270px;
}

.formContainer {
    display: flex;
    flex-direction: column;
}

.containerOfButtons {
    display: flex;
    justify-content: space-around;
}

.buttonInactive {
    color: yellow;
    background-color: rgba(168, 98, 134, 1);
    border-radius: 5px;
    border-color: greenyellow;
    margin-top: 20px;
    height: 30px;
    font-size: 26px;
    font-weight: 700;
}

.buttonInactive:first-of-type {
    margin-top: 0;
}

.tasksText {
    color: white
}

.buttonInactive:hover {
    background-color: rgba(168, 63, 118, 1);
}

.buttonActive {
    color: yellow;
    background-color: rgba(168, 63, 118, 1);
    border-radius: 5px;
    border-color: greenyellow;
    margin-top: 20px;
    height: 30px;
    font-size: 26px;
    font-weight: 700;
}

.buttonActive:first-of-type {
    margin-top: 0;
}

.buttonActive:hover {
    background-color: rgb(138, 45, 93);
}

.buttons {
    display: flex;
    flex-direction: column;
}

.submitButton {
    margin: 100px auto;
    width: 150px;
    height: 30px;
    color: yellow;
    background-color: blueviolet;
    border-radius: 10px;
}

.submitButton:hover {
    background-color: rgb(101, 9, 187);
}