@font-face {
    font-family: 'monaSpace';
    src: url(../../utils/fonts/MonaspaceXenon-Regular.otf) format('orf');
    font-weight: 400;
}

@font-face {
    font-family: 'monaSpace';
    src: url(../../utils/fonts/MonaspaceXenon-MediumItalic.otf) format('otf');
    font-weight: 500;
}

@font-face {
    font-family: 'monaSpace';
    src: url(../../utils//fonts/MonaspaceXenon-Bold.otf) format('otf');
    font-weight: 700;
}

.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    min-height: 100vh;
    font-family: 'monaSpace', sans-serif, Arial;
    overflow-y: hidden;
}