.header {
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: calc(100vw - 40px);
    margin-top: 10px;
}

.link {
    text-decoration: none;
    color: white;
    font-size: 24px;
    margin-right: 30px;
}

.logo {
   max-width: 120px;
}